body {
    background-image: url(../assets/bgtexture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@font-face{
    font-family: Montauk-Bold;
    src: url("../fonts/Montauk-Bold.otf");
}
@font-face {
    font-family: Montauk-Regular;
    src: url("../fonts/Montauk-Bold.otf");
}
.navFont{ 
    color: #5F002B;
    font-size: 30px;
    font-family: Montauk-Bold;
}
.logoSpacing{
    margin-top: 15px;
    margin-left: 120px;
}
.menuFont{
    color: #5F002B;
    font-size: 60px;
    font-family: Montauk-Bold;
}
.menuBG{
    background-color: #FFFFFF;
}
.beefSize{
    width: 600px;
}
.shrimpSize{
    width: 600px;
}